<div class="container" fxLayout="column" [@routeAnimation]>
  <div fxLayout="row" fxLayoutAlign="center">
      <mat-card>
          <mat-card-header>
              <div mat-card-avatar class="header-image"></div>
              <mat-card-title>{{ 'PUBLIC.HOME.CARD_TITLE' | translate }}</mat-card-title>
              <mat-card-subtitle>{{ 'PUBLIC.HOME.CARD_SUBTITLE' | translate }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
             <p>Chèn grid vào chỗ này</p>
          </mat-card-content>

        </mat-card>
  </div>
</div>
